/* TEXT NAVBAR*/
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
  color: #0096FF;
  font-weight: bold;
}

.navbar-default {
  box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
  -moz-box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
}
/*
  FOOTER
*/

footer {
  background:#FFFFFF;
  position:fixed;
  bottom:0px;
  width:100%;
  height:50px;
  padding-top: 10px;
  text-align: center;
  line-height:10px;
  border: 1px solid #D3E0E9;
  box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
  -moz-box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
  -webkit-box-shadow: 0px 0px 15px 2px rgba(119, 119, 119, 0.67);
}

footer a {
  color: #0096FF;
  text-decoration: none;
  font-weight: lighter;
}

.container {
  padding-bottom: 50px;
}

body{
  position: relative;
}

h1 {
  background-color: #0096FF;
  padding: 40px;
  color: #FFFFFF;
  border-radius: 8px;
}

/*
  PAGE MAGASIN
*/

.product {
  text-align: center;
}

.content_product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
